@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
	--background: oklch(0.208 0.042 265.755);
	--foreground: oklch(0.984 0.003 247.858);
	--card: oklch(0.279 0.041 260.031);
	--card-foreground: oklch(0.984 0.003 247.858);
	--popover: oklch(0.279 0.041 260.031);
	--popover-foreground: oklch(0.984 0.003 247.858);
	--primary: oklch(0.852 0.199 91.936);
	--primary-foreground: oklch(0.208 0.042 265.755);
	--secondary: oklch(0.372 0.044 257.287);
	--secondary-foreground: oklch(0.984 0.003 247.858);
	--muted: oklch(0.279 0.041 260.031);
	--muted-foreground: oklch(0.704 0.04 256.788);
	--accent: oklch(0.437 0.078 188.216);
	--accent-foreground: oklch(0.984 0.003 247.858);
	--destructive: oklch(0.637 0.237 25.331);
	--destructive-foreground: oklch(0.208 0.042 265.755);
	--border: oklch(0.372 0.044 257.287);
	--input: oklch(0.372 0.044 257.287);
	--ring: oklch(0.852 0.199 91.936);
	--chart-1: oklch(0.91 0.096 180.426);
	--chart-2: oklch(0.777 0.152 181.912);
	--chart-3: oklch(0.6 0.118 184.704);
	--chart-4: oklch(0.511 0.096 186.391);
	--chart-5: oklch(0.437 0.078 188.216);
	--sidebar: oklch(0.2795 0.0368 260.031);
	--sidebar-foreground: oklch(0.9288 0.0126 255.5078);
	--sidebar-primary: oklch(0.6801 0.1583 276.9349);
	--sidebar-primary-foreground: oklch(0.2077 0.0398 265.7549);
	--sidebar-accent: oklch(0.3729 0.0306 259.7328);
	--sidebar-accent-foreground: oklch(0.8717 0.0093 258.3382);
	--sidebar-border: oklch(0.4461 0.0263 256.8018);
	--sidebar-ring: oklch(0.6801 0.1583 276.9349);
	--font-sans: Poppins, ui-sans-serif, sans-serif, system-ui;
	--font-serif: Merriweather, serif;
	--font-mono: JetBrains Mono, monospace;
	--radius: 2rem;
	--shadow-x: 0px;
	--shadow-y: 4px;
	--shadow-blur: 8px;
	--shadow-spread: -1px;
	--shadow-opacity: 0.1;
	--shadow-color: hsl(0 0% 0%);
	--shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
	--shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
	--shadow-sm:
		0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
	--shadow:
		0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
	--shadow-md:
		0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 2px 4px -2px hsl(0 0% 0% / 0.1);
	--shadow-lg:
		0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 4px 6px -2px hsl(0 0% 0% / 0.1);
	--shadow-xl:
		0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 8px 10px -2px hsl(0 0% 0% / 0.1);
	--shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
	--tracking-normal: 0em;
	--spacing: 0.25rem;
}

.dark {
	--background: oklch(0.208 0.042 265.755);
	--foreground: oklch(0.984 0.003 247.858);
	--card: oklch(0.279 0.041 260.031);
	--card-foreground: oklch(0.984 0.003 247.858);
	--popover: oklch(0.279 0.041 260.031);
	--popover-foreground: oklch(0.984 0.003 247.858);
	--primary: oklch(0.852 0.199 91.936);
	--primary-foreground: oklch(0.208 0.042 265.755);
	--secondary: oklch(0.372 0.044 257.287);
	--secondary-foreground: oklch(0.984 0.003 247.858);
	--muted: oklch(0.279 0.041 260.031);
	--muted-foreground: oklch(0.704 0.04 256.788);
	--accent: oklch(0.437 0.078 188.216);
	--accent-foreground: oklch(0.984 0.003 247.858);
	--destructive: oklch(0.637 0.237 25.331);
	--destructive-foreground: oklch(0.208 0.042 265.755);
	--border: oklch(0.372 0.044 257.287);
	--input: oklch(0.372 0.044 257.287);
	--ring: oklch(0.852 0.199 91.936);
	--chart-1: oklch(0.91 0.096 180.426);
	--chart-2: oklch(0.777 0.152 181.912);
	--chart-3: oklch(0.6 0.118 184.704);
	--chart-4: oklch(0.511 0.096 186.391);
	--chart-5: oklch(0.437 0.078 188.216);
	--sidebar: oklch(0.2795 0.0368 260.031);
	--sidebar-foreground: oklch(0.9288 0.0126 255.5078);
	--sidebar-primary: oklch(0.6801 0.1583 276.9349);
	--sidebar-primary-foreground: oklch(0.2077 0.0398 265.7549);
	--sidebar-accent: oklch(0.3729 0.0306 259.7328);
	--sidebar-accent-foreground: oklch(0.8717 0.0093 258.3382);
	--sidebar-border: oklch(0.4461 0.0263 256.8018);
	--sidebar-ring: oklch(0.6801 0.1583 276.9349);
	--font-sans: Poppins, ui-sans-serif, sans-serif, system-ui;
	--font-serif: Merriweather, serif;
	--font-mono: JetBrains Mono, monospace;
	--radius: 2rem;
	--shadow-x: 0px;
	--shadow-y: 4px;
	--shadow-blur: 8px;
	--shadow-spread: -1px;
	--shadow-opacity: 0.1;
	--shadow-color: hsl(0 0% 0%);
	--shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
	--shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
	--shadow-sm:
		0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
	--shadow:
		0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
	--shadow-md:
		0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 2px 4px -2px hsl(0 0% 0% / 0.1);
	--shadow-lg:
		0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 4px 6px -2px hsl(0 0% 0% / 0.1);
	--shadow-xl:
		0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 8px 10px -2px hsl(0 0% 0% / 0.1);
	--shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);
	--font-serif: var(--font-serif);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}

/* CUSTOM */

@theme {
	/* --color-base-100: oklch(27% 0.041 260.031);
  --color-base-200: oklch(20% 0.042 265.755);
  --color-base-300: oklch(12% 0.042 264.695);
  --color-base-content: oklch(98% 0.003 247.858);
  --color-primary: oklch(85% 0.199 91.936);
  --color-primary-content: oklch(27% 0.041 260.031);
  --color-secondary: oklch(98% 0.003 247.858);
  --color-secondary-content: oklch(27% 0.041 260.031);
  --color-accent: oklch(51% 0.096 186.391);
  --color-accent-content: oklch(98% 0.003 247.858); */

	/* --font-sans: "Poppins", sans-serif; */
	--text-xxs: 0.6875rem; /* 10pt */
	/* --root-bg: var(--color-base-200); */
	/* --padding: 2rem; */
	--breakpoint-xs: 24rem;

	/* --spacing-reg: calc(var(--spacing) * 8) 32px; */
	/* --spacing-sm: calc(var(--spacing) * 4) 16px; */
	/* --spacing-xs: calc(var(--spacing) * 2) 8px; */
	/* --spacing-lg: calc(var(--spacing) * 12) 48px; */

	--layout-base: 70rem;
	--layout-full: 100%;
}

@utility layout-* {
	/* prettier-ignore */
	--max-width: --value(--layout-*);
	--padding: calc(var(--spacing) * 8);

	display: grid;

	place-content: center;
	grid-template-columns:
		minmax(var(--padding), 1fr)
		min(var(--max-width), 100% - var(--padding) * 2)
		minmax(var(--padding), 1fr);

	& > * {
		grid-column: 2 / 3;
	}

	& > .full-width {
		grid-column: 1 / -1;
	}
}

@layer components {
	.style-display-xl {
		@apply text-5xl font-bold uppercase sm:text-7xl;
	}

	.style-display {
		@apply text-xl font-bold uppercase md:text-2xl;
	}

	.style-heading {
		@apply text-xl uppercase md:text-2xl tracking-wider;
	}

	.style-subheading {
		@apply text-lg md:text-xl;
	}

	.style-meta {
		@apply text-muted text-xs md:text-sm;
	}

	.style-btn {
		@apply text-xs tracking-widest uppercase sm:text-sm whitespace-normal h-full text-center font-semibold;
	}
}
