---
// https://docs.astro.build/en/guides/actions/

import BaseLayout from "$layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1>Action Test</h1>
  <button id="greeting">Get greeting</button>

  <h2>FORM</h2>
  <form class="flex w-full max-w-60 flex-col">
    <label for="email">E-mail</label>
    <input id="email" required type="email" name="email" />
    <label>
      <input required type="checkbox" name="terms" />
      I agree to the terms of service
    </label>
    <button class="bg-accent cursor-pointer">Sign up</button>
  </form>
</BaseLayout>

<script>
  import { actions } from "astro:actions";
  import { navigate } from "astro:transitions/client";

  const form = document.querySelector("form");
  form?.addEventListener("submit", async (event) => {
    event.preventDefault();
    const formData = new FormData(form);
    const { error, data } = await actions.newsletter(formData);

    if (!error) console.log("success!", data);
  });

  const button = document.getElementById("greeting");
  button?.addEventListener("click", async () => {
    // Show alert pop-up with greeting from action
    const { data, error } = await actions.getGreeting({
      name: "Tyler",
    });

    // Error Handling
    if (error) {
      console.log(error);
      return;
    }

    // Use response
    alert(data);
    // Redirect
    navigate("/");
  });

  document.addEventListener("astro:page-load", async () => {
    // This runs on first page load and after every navigation.
    // const { data, error } = await actions.formAction.test();
    // if (!error) console.log(data);
  });
</script>
