---
import { superValidate } from "sveltekit-superforms";
import { zod } from "sveltekit-superforms/adapters";
import SubscribeForm from "$components/SubscribeForm/SubscribeForm.svelte";
import { zNewsletterValues } from "$components/SubscribeForm/schema";
import BaseLayout from "$layouts/BaseLayout.astro";

// biome-ignore lint/suspicious/noExplicitAny: Not correctly detecting ZodObjectType
const sv = await superValidate(Astro.request, zod(zNewsletterValues as any));

---
<BaseLayout>
<h1>Form Test</h1>
<SubscribeForm client:load {sv}/>
</BaseLayout>