---
import Footer from "$components/Footer.astro";
import Header from "$components/Header.astro";
import BaseLayout from "$layouts/BaseLayout.astro";
import { Button } from "$lib/components/ui/button";
---

<BaseLayout>
  <Header />
  <main>
    <div
      class="grid min-h-screen w-full bg-cover bg-center"
      style="background-image: url(https://imagescdn.homes.com/i2/CEji7IWNBAkZ0oR6Ys2M4_qKV1NXED2iubcrhIUqjAw/116/albert-lea-mn-9.jpg?p=1)"
    >
      <!-- Overlay Div -->
      <div class="bg-muted col-start-1 row-start-1 h-full w-full opacity-85">
      </div>
      <div class="layout-base isolate col-start-1 row-start-1 gap-y-8">
        <h2 class="style-display-xl">
          <span class="opacity-40">We exist to be and make</span>
          <br />
          <span class="text-primary">eternally joyful disciples</span>
          <br />
          <span class="opacity-40"> of Jesus Christ. </span>
        </h2>
        <Button
          variant="accent"
          class={"text-xs tracking-widest uppercase sm:text-sm whitespace-normal h-full text-center font-semibold"}
          href="#"
          id="ping"
        >
          10 am Sundays at the Skyline Plaza | Click here for livestream
        </Button>
      </div>
    </div>
  </main>
  <Footer />
</BaseLayout>
