---
import { getCollection, getEntry, render } from "astro:content";
import type { GetStaticPaths } from "astro";
import { format } from "date-fns";
import Header from "$components/Header.astro";
import BaseLayout from "$layouts/BaseLayout.astro";

export const getStaticPaths = (async () => {
  const posts = (await getCollection("sermons")).sort(
    (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
  );
  return posts.map((post, index) => ({
    params: { slug: post.id },
    props: {
      post,
      prevEntryIndex: index + 1,
      nextEntryIndex: index - 1,
    },
  }));
}) satisfies GetStaticPaths;

const {
  post,
  post: {
    data: {
      title,
      date,
      scripture,
      preacher: preacherReference,
      series: seriesReference,
    },
  },
  prevEntryIndex,
  nextEntryIndex,
} = Astro.props;

const { data: series } = await getEntry(seriesReference);
const { data: preacher } = await getEntry(preacherReference);

const { Content } = await render(post);
---

<BaseLayout>
  <Header />
  <main class="layout-base flex flex-col gap-4">
    <div>
      <h1 class="style-display">{title}</h1>
      <span class="style-meta">
        {
          format(
            new Date(
              date.valueOf() +
              date.getTimezoneOffset() * 60 * 1000,
            ),
            "LLLL dd, yyyy",
          )
        } - {scripture} - {
        preacher.name
        }
      </span>
    </div>
    <Content />
  </main>
</BaseLayout>
