---
import { Icon } from "astro-icon/components";
import { superValidate } from "sveltekit-superforms";
import { zod } from "sveltekit-superforms/adapters";
import SubscribeForm from "$components/SubscribeForm/SubscribeForm.svelte";
import { zNewsletterValues } from "$components/SubscribeForm/schema";
import Text from "$components/Text.svelte";
import { Button } from "$lib/components/ui/button";

// FIX: Hack using any
const sv = await superValidate(Astro.request, zod(zNewsletterValues as any));
---

<footer class="bg-accent text-accent-foreground layout-base py-8">
  <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
    <section class="flex flex-col gap-8">
      <h2 class="sr-only">Address & Contact Info</h2>
      <div class="flex flex-col gap-2">
        <Text as="h3" variant="heading">Sundays at 10am</Text>
        <address>
          1679 West Main Street <br />
          Skyline Plaza <br />
          Albert Lea, MN 56007
        </address>
      </div>
      <div class="flex flex-col gap-2">
        <Text as="h3" variant="heading">Contact Us</Text>
        <address>
          <a href="mailto:hello@sojourners.church">hello@sojourners.church</a>
          <br />
          (507) 552-1595
        </address>
        <div class="flex">
          <Button href="#"  variant="footer-icon"><Icon name={"simple-icons:facebook"} /></Button>
          <Button href="#"  variant="footer-icon"><Icon name={"simple-icons:youtube"} /></Button>
          <Button href="#"  variant="footer-icon"><Icon name={"simple-icons:spotify"} /></Button>
          <Button href="#"variant="footer-icon" ><Icon name={"simple-icons:whatsapp"} /></Button>

        </div>
      </div>
    </section>
    <section class="flex flex-col gap-8">
      <div class="flex flex-col gap-2">
        <Text as="h2" variant="heading">
          Weekly Bulletin
        </Text>
        <p>
          Sign up to stay informed and connected to Sojourners Church weekly
          happenings.
        </p>
      </div>
      <SubscribeForm client:load {sv} />
    </section>

    <section class="flex flex-col gap-8">
      <div class="flex flex-col gap-2">
        <Text as="h2" variant="heading">
          Give to Sojourners
        </Text>

        <p>
          Click below to set up a one time or recurring gift to Sojourners
          Church.
        </p>
      </div>
      <Button variant="footer-button">Give</Button
      >
    </section>
  </div>

</footer>
