---
const { spotifyURL } = Astro.props;

// Get uri/id from links using regex
const spotifyURI = spotifyURL
  ? spotifyURL.match(/(?<=episode\/).+?(?=\?)/gm)
  : "";
---

<div id="spotify-audio-iframe"></div>

<script is:inline src="https://open.spotify.com/embed/iframe-api/v1" async
></script>

<script is:inline define:vars={{ spotifyURI }}>
  if (spotifyURI) {
    window.onSpotifyIframeApiReady = (IFrameAPI) => {
      const uri = `spotify:episode:${spotifyURI[0]}`;

      const element = document.getElementById("spotify-audio-iframe");
      const options = {
        width: "100%",
        height: "152",
        uri: uri,
      };

      const callback = (EmbedController) => {};

      IFrameAPI.createController(element, options, callback);
    };
  }
</script>
